{% extends "base.html" %}

{% load static %}

{% block content %}
<h1 class="site-heading text-center text-white d-none d-lg-block">
      
  <span class="site-heading-lower"><img href="/SolasenaWebApp" src="{% static '/SolasenaWebApp/img/img_solasena_logo-modified.png' %}"  style="width: 50%;"> </img> </span>
</h1>

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '/SolasenaWebApp/img/img_asfalto2.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Puntualidad</span>
            <span class="section-heading-lower">El mejor stock</span>
          </h2>
          <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.
          </p>
         
        </div>
      </div>
    </div>
  </section>



  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '/SolasenaWebApp/img/img_solasena.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Puntualidad</span>
            <span class="section-heading-lower">El mejor stock</span>
          </h2>
          <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0"> ALGUN TEXTO ALGUN TEXTO ALGUN TEXTO ALGUN TEXTO VALGUN TEXTO ALGUN TEXTO VALGUN TEXTOALGUN TEXTO  </p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}