{% extends "base.html" %}

{% load static %}

{% block content %}


   
  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row"> 
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner">
               <div  >
                  <h2 class="section-heading mb-4">
                  <span class="section-heading-lower" style="text-align: center;" > <img href="/SolasenaWebApp" src="{% static '/SolasenaWebApp/img/img_solasena_logo-modified_2.png' %}" style="float: left 60%; width: 25%; padding: -3cm;" alt="/SolasenaWebApp"  href=""> </img></span>
                  <h3 class="section-heading-lower" style="margin-bottom: -6%; margin-top: 10px; text-align: center;">SOBRE NOSOTROS</h3>
                
                      <div class="row" style="margin-top: 2CM;">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                          <h1>VISION</h1>
                          <p >mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision</p>
                        </div>
                        
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                          <h1>MISION</h1>
                          <p >mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision</p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                          <h1>VALORES</h1>
                          <p >mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision mision Mision mision <br>
                          mision Mision mision</p>
                        </div>

                      </div>  
                </div>  
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}