{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'SolasenaWebApp/css/personalizado.css' %}">

<div class="content mb-8" >
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7 col-xlf-7 " style=" padding-left: 5cm; padding-top: 1cm; background-color: rgba(42, 32, 32, 0.562)" >
            <h1  class="h1" id="h2_titulo_pruductos"> Emulsion de quiebre lento</h1> <br>
            <p class="h5" id="font_white" style=" font-family: Arial, Helvetica, sans-serif;"><strong>Uso y aplicaciones:</strong> <br>
                Recomendados para: Riegos de liga, Lechadas Asfálticas, Riegos Neblina (Fog Seal).</p>
                <div class="row">
                    <div lass="col-md-12 col-lg-6 col-xlf-6 mx-auto" >
                        <a href="{% static '/solasenawebapp/img/CSS-1-CSS-1h.pdf' %}" target="_blank"><img class="img-fluid " style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-7 col-xlf-7" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > CSS 1 Y CSS-1H (ficha técnica)</h4>
                    </div>
                    
                </div>

                <div class="row">
                    <div lass="col-md-12 col-lg-7 col-xlf-7" >
                        <a href=""><img class="img-fluid" style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xlf-6" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > CSS-1H E (ficha técnica)</h4>
                    </div>
                    
                </div>

                <div class="row">
                    <div lass="col-md-12 col-lg-7 col-xlf-7" >
                        <a href=""><img class="img-fluid" style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xlf-6" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > SS-1H (ficha técnica)</h4>
                    </div>
                    
                </div>            
        </div>

        <div class="col-sm-12 col-md-12 col-lg-5 col-xlf-5 my-10" style=" background-color: rgba(42, 32, 32, 0.562); padding-top: 1cm; padding-left: 1cm; padding-bottom: 1cm; ">
            <img style="margin-top: 1.5cm;" class="img-thumbnail" href="" src="{% static '/SOLASENAWebApp/img/Emulsion_quiebre_lento.jpg '%}" alt="">
            <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
        </div>


        <!--segundo tipo de emulsion-->
        <div class="col-sm-12 col-md-12 col-lg-7 col-xlf-7 " style=" padding-left: 5cm; padding-top: 1cm; background-color: rgba(42, 32, 32, 0.562)" >
            <h1  class="h1" id="h2_titulo_pruductos"> Emulsion de quiebre lento</h1> <br>
            <p class="h5" id="font_white" style=" font-family: Arial, Helvetica, sans-serif;"><strong>Uso y aplicaciones:</strong> <br>
                Recomendados para: Riegos de liga, Lechadas Asfálticas, Riegos Neblina (Fog Seal).</p>
                <div class="row">
                    <div lass="col-md-12 col-lg-6 col-xlf-6 mx-auto" >
                        <a href="{% static '/solasenawebapp/img/CSS-1-CSS-1h.pdf' %}" target="_blank"><img class="img-fluid " style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-7 col-xlf-7" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > CSS 1 Y CSS-1H (ficha técnica)</h4>
                    </div>
                    
                </div>

                <div class="row">
                    <div lass="col-md-12 col-lg-7 col-xlf-7" >
                        <a href=""><img class="img-fluid" style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xlf-6" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > CSS-1H E (ficha técnica)</h4>
                    </div>
                    
                </div>

                <div class="row">
                    <div lass="col-md-12 col-lg-7 col-xlf-7" >
                        <a href=""><img class="img-fluid" style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xlf-6" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > SS-1H (ficha técnica)</h4>
                    </div>
                    
                </div>            
        </div>

        <div class="col-sm-12 col-md-12 col-lg-5 col-xlf-5 my-10" style=" background-color: rgba(42, 32, 32, 0.562); padding-top: 1cm; padding-left: 1cm; padding-bottom: 1cm; ">
            <img style="margin-top: 1.5cm;" class="img-thumbnail" href="" src="{% static '/SOLASENAWebApp/img/Emulsion_quiebre_lento.jpg '%}" alt="">
            <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
        </div>


                <!--segundo tipo de emulsion-->
        <div class="col-sm-12 col-md-12 col-lg-7 col-xlf-7 " style=" padding-left: 5cm; padding-top: 1cm; background-color: rgba(42, 32, 32, 0.562)" >
            <h1  class="h1" id="h2_titulo_pruductos"> Emulsion de quiebre lento</h1> <br>
            <p class="h5" id="font_white" style=" font-family: Arial, Helvetica, sans-serif;"><strong>Uso y aplicaciones:</strong> <br>
                Recomendados para: Riegos de liga, Lechadas Asfálticas, Riegos Neblina (Fog Seal).</p>
                <div class="row">
                    <div lass="col-md-12 col-lg-6 col-xlf-6 mx-auto" >
                        <a href="{% static '/solasenawebapp/img/CSS-1-CSS-1h.pdf' %}" target="_blank"><img class="img-fluid " style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-7 col-xlf-7" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > CSS 1 Y CSS-1H (ficha técnica)</h4>
                    </div>
                    
                </div>

                <div class="row">
                    <div lass="col-md-12 col-lg-7 col-xlf-7" >
                        <a href=""><img class="img-fluid" style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xlf-6" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > CSS-1H E (ficha técnica)</h4>
                    </div>
                    
                </div>

                <div class="row">
                    <div lass="col-md-12 col-lg-7 col-xlf-7" >
                        <a href=""><img class="img-fluid" style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xlf-6" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > SS-1H (ficha técnica)</h4>
                    </div>
                    
                </div>            
        </div>

        <div class="col-sm-12 col-md-12 col-lg-5 col-xlf-5 my-10" style=" background-color: rgba(42, 32, 32, 0.562); padding-top: 1cm; padding-left: 1cm; padding-bottom: 1cm; ">
            <img style="margin-top: 1.5cm;" class="img-thumbnail" href="" src="{% static '/SOLASENAWebApp/img/Emulsion_quiebre_lento.jpg '%}" alt="">
            <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
        </div>

        <!--tercer tipo de emulsion-->
        <div class="col-sm-12 col-md-12 col-lg-7 col-xlf-7 " style=" padding-left: 5cm; padding-top: 1cm; background-color: rgba(42, 32, 32, 0.562)" >
            <h1  class="h1" id="h2_titulo_pruductos"> Emulsion de quiebre lento</h1> <br>
            <p class="h5" id="font_white" style=" font-family: Arial, Helvetica, sans-serif;"><strong>Uso y aplicaciones:</strong> <br>
                Recomendados para: Riegos de liga, Lechadas Asfálticas, Riegos Neblina (Fog Seal).</p>
                <div class="row">
                    <div lass="col-md-12 col-lg-6 col-xlf-6 mx-auto" >
                        <a href="{% static '/solasenawebapp/img/CSS-1-CSS-1h.pdf' %}" target="_blank"><img class="img-fluid " style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-7 col-xlf-7" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > CSS 1 Y CSS-1H (ficha técnica)</h4>
                    </div>
                    
                </div>

                <div class="row">
                    <div lass="col-md-12 col-lg-7 col-xlf-7" >
                        <a href=""><img class="img-fluid" style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xlf-6" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > CSS-1H E (ficha técnica)</h4>
                    </div>
                    
                </div>

                <div class="row">
                    <div lass="col-md-12 col-lg-7 col-xlf-7" >
                        <a href=""><img class="img-fluid" style="width: 2rem;" src="{% static '/solasenawebapp/img/descarga_icono.png' %}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xlf-6" id="row_tipos_emu"  >
                        <h4 class="h4" id="font_white" > SS-1H (ficha técnica)</h4>
                    </div>
                    
                </div>            
        </div>

        <div class="col-sm-12 col-md-12 col-lg-5 col-xlf-5 my-10" style=" background-color: rgba(42, 32, 32, 0.562); padding-top: 1cm; padding-left: 1cm; padding-bottom: 1cm; ">
            <img style="margin-top: 1.5cm;" class="img-thumbnail" href="" src="{% static '/SOLASENAWebApp/img/Emulsion_quiebre_lento.jpg '%}" alt="">
            <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
        </div>


    </div>
</div>





{% endblock %}